In [2]:
%pip install pandas

import pandas as pd
import sqlite3
import json

[notice] A new release of pip available: 22.3 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: pandas in c:\users\ritik\desktop\banksight_app\.venv\lib\site-packages (2.3.3)
Requirement already satisfied: numpy>=1.23.2 in c:\users\ritik\desktop\banksight_app\.venv\lib\site-packages (from pandas) (2.3.5)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ritik\desktop\banksight_app\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\ritik\desktop\banksight_app\.venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\ritik\desktop\banksight_app\.venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\ritik\desktop\banksight_app\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
import pandas as pd

customers = pd.read_csv("customers.csv")
accounts = pd.read_csv("accounts.csv")
transactions = pd.read_csv("transactions.csv")
branches = pd.read_csv("branches.csv")
support_tickets = pd.read_csv("support_tickets.csv")
credit_cards = pd.read_json("credit_cards.json")
import os

if os.path.exists("loans.json"):
	loans = pd.read_json("loans.json")
else:
	loans = None  # or you can use pd.DataFrame() if you expect a DataFrame

:

In [17]:
customers.head()

,customer_id,name,gender,age,city,account_type,join_date
0,C0001,Richard Wilson,M,65,Kimberlyburgh,Savings,2023-08-27
1,C0002,Holly Parker,F,41,Port David,Current,2023-12-08
2,C0003,Megan Alvarez,M,46,West Laurieton,Savings,2022-05-25
3,C0004,Nicholas Stewart,F,39,Amyville,Current,2020-11-30
4,C0005,Douglas Anderson,M,70,New Craigport,Current,2023-01-29

In [18]:
customers.isnull().sum()

customer_id     0
name            0
gender          0
age             0
city            0
account_type    0
join_date       0
dtype: int64

In [19]:
conn = sqlite3.connect("bankdata.db")
cursor = conn.cursor()

In [20]:
customers.to_sql("customers", conn, if_exists="replace", index=False)

500

In [21]:
df = pd.read_sql("SELECT * FROM customers", conn)
df

,customer_id,name,gender,age,city,account_type,join_date
0,C0001,Richard Wilson,M,65,Kimberlyburgh,Savings,2023-08-27
1,C0002,Holly Parker,F,41,Port David,Current,2023-12-08
2,C0003,Megan Alvarez,M,46,West Laurieton,Savings,2022-05-25
3,C0004,Nicholas Stewart,F,39,Amyville,Current,2020-11-30
4,C0005,Douglas Anderson,M,70,New Craigport,Current,2023-01-29
...,...,...,...,...,...,...,...
495,C0496,Jennifer Flores,M,50,Mullenland,Savings,2021-04-03
496,C0497,Melissa Martin,M,41,Shermanfurt,Current,2021-12-27
497,C0498,Christopher Johnson,M,69,Nataliemouth,Savings,2022-10-10
498,C0499,Alvin Compton,M,30,Millerstad,Current,2023-06-16
499,C0500,Emily Brooks,M,47,South Louismouth,Savings,2023-10-11